@import url('https://fonts.googleapis.com/css2?family=Matemasie&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

body {
    background-color: #FDF5F2;
}

.matemasie {
    font-family: "Matemasie", sans-serif;
}

@layer utilities {
    .flex-center {
        @apply flex items-center justify-center;
    }

    .flex-between {
        @apply flex items-center justify-between;
    }

    .search-input {
        @apply text-xl font-light pr-14 pl-8 p-3 rounded-full w-full focus:outline-none shadow-xl max-sm:text-sm max-sm:pr-10 max-sm:pl-6 max-sm:p-2;
    }
}