@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "monument";
    src: url("assets/fonts/MonumentExtended/MonumentExtended-Regular.otf");
}

@font-face {
    font-family: "monument bold";
    src: url("assets/fonts/MonumentExtended/MonumentExtended-Ultrabold.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

body {
    background-color: #FDF5F2;
}

@layer utilities {
    .flex-center {
        @apply flex items-center justify-center;
    }

    .flex-between {
        @apply flex items-center justify-between;
    }

    .search-input {
        @apply text-xl font-light pr-14 pl-8 p-3 rounded-full w-[40vw] focus:outline-none shadow-xl;
    }
}